body {
  background: #f6f8fb;
}

.brand-gradient {
  background: linear-gradient(90deg, #0d6efd, #20c997);
  color: white;
}

.card-shadow {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  background: #dee2e6;
  display: inline-block;
}

.badge-soft {
  background: #e7f1ff;
  color: #0d6efd;
  border: 1px solid #cfe2ff;
}

footer {
  margin-top: 60px;
}

body {
  background: #f5f6fa;
  font-family: "Poppins", sans-serif;
}

/* Sidebar */
.sidebar {
  width: 250px;
  min-height: 100vh;
  background: linear-gradient(180deg, #141e30, #243b55);
  transition: 0.3s;
}

.sidebar .nav-link {
  color: #cbd5e1;
  padding: 10px 12px;
  border-radius: 10px;
  font-size: 15px;
}

.sidebar .nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.sidebar .nav-link.active {
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

.avatar {
  width: 70px;
  height: 70px;
  background: #ff6a00;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 26px;
}

/* Top Navbar */
.top-navbar {
  background: #3a5cf5;
  height: 70px;
}

.user-badge {
  width: 35px;
  height: 35px;
  background: #3a5cf5;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Main content */
.content {
  width: 100%;
}

/* Welcome banner */
.welcome-card {
  background: linear-gradient(90deg, #3a5cf5, #5d2fd5);
  padding: 55px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Stats cards */
.stat-card {
  background: white;
  border-radius: 18px;
  padding: 20px 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}

.icon-box {
  width: 50px;
  height: 50px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.bg-soft-blue {
  background: rgba(58, 92, 245, 0.15);
  color: #3a5cf5;
}

.bg-soft-green {
  background: rgba(34, 197, 94, 0.15);
  color: #22c55e;
}

.bg-soft-orange {
  background: rgba(249, 115, 22, 0.15);
  color: #f97316;
}

/* Circle availability */
.progress-circle {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: conic-gradient(#22c55e 72%, #e5e7eb 0%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-text {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
